    <div class="footer">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="disclaimer">Conexon works with Rural Electric Membership Cooperatives to bring fiber to the home to rural communities. We analyze economic feasibility, secure financing, manage construction, train employees, optimize business performance and determine optimal partnerships. We will be with you from a project’s conception all the way through to its long-term sustainability.</div>
                </div>
            </div>
        </div>
    </div>

<body>
</html>
